@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');

@-webkit-keyframes shake {
    from,
    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  
    10%,
    30%,
    50%,
    70%,
    90% {
      -webkit-transform: translate3d(-5px, 0, 0);
      transform: translate3d(-5px, 0, 0);
    }
  
    20%,
    40%,
    60%,
    80% {
      -webkit-transform: translate3d(5px, 0, 0);
      transform: translate3d(5px, 0, 0);
    }
  }
  
  @keyframes shake {
    from,
    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  
    10%,
    30%,
    50%,
    70%,
    90% {
      -webkit-transform: translate3d(-5px, 0, 0);
      transform: translate3d(-5px, 0, 0);
    }
  
    20%,
    40%,
    60%,
    80% {
      -webkit-transform: translate3d(5px, 0, 0);
      transform: translate3d(5px, 0, 0);
    }
  }

html, body {
    margin: 0;
    padding: 0;
    font-size: 14px
}

body {
    font-family: 'Quicksand', sans-serif;
    height: 100vh;
    background-image: url("../images/background.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    overflow-x: hidden;
}

.logo {
    position: fixed;
    left: 50px;
    top: 20px;
    width: 100px;
    height: 100px;
}

.message-board {
    position: absolute;
    top: 300px;
    left: 200px;
    max-width: 400px;
    text-align: center;
    font-size: 2em;
    font-weight: 700;
    color: #21427c;
}

.volume {
    position: fixed;
    right: 50px;
    top: 20px;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.volume:hover {
    -webkit-animation-name: shake;
    animation-name: shake;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.volume.muted {
    opacity: 0.3;
}

.fullscreen {
    position: fixed;
    right: 120px;
    top: 20px;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.fullscreen img {
    width: 100%;    
}

.fullscreen img:hover {
    -webkit-animation-name: shake;
    animation-name: shake;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.playing-field {
    width: 460px;
    margin: 0 auto;
    padding-top: 20px;
    background-color: white;
}

.maker-screen {
    border: 3px solid #2b61d8;
    border-radius: 20px;
    height: 7.5%;
    /* box-shadow: 3px 5px 10px 0px #dcd0d0; */
}

.braker-screen {
    border: 3px solid #2b61d8;
    border-radius: 20px;
    height: 92.5%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    /* box-shadow: 3px 5px 10px 0px #dcd0d0; */
}

.pin-line {
    width: 400px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    border-radius: 10px;
    position: relative;
}

.pin {
    width: 40px;
    height: 40px;
    margin: 10px;
    border: 3px solid black;
    border-radius: 100%;
}

.maker-screen .pin-line .pin {
    text-align: center;
    font-size: 2em;
    font-weight: 700;
}

.slider {
    position: absolute;
    width: 8px;
    height: 19px;
    top: 22px;
    background-color: gray;
    /* z-index: -1; */
    transition: transform 0.3s linear 0s;
    cursor: pointer;
}

.slider-right.slider-one {
    transform: translateX(20px);
}

.slider-left.slider-one {
    transform: translateX(-20px);
}

.slider-right.slider-two {
    transform: translateX(40px);
}

.slider-left.slider-two {
    transform: translateX(-40px);
}

.slider-right.slider-three {
    transform: translateX(60px);
}

.slider-left.slider-three {
    transform: translateX(-60px);
}

.slider-right.slider-four {
    transform: translateX(80px);
}

.slider-left.slider-four {
    transform: translateX(-80px);
}

.slider:before {
  font-weight: 700;
  font-size: 1.6em;
  position: absolute;
  top: -5px;
}

.slider:after {
    width: 0px;
    height: 15px;
    content: "";
    display: block;
    position: absolute;
    top: 2px;
    transition: width 0.3s linear 0s;
}


.slider.slider-one:after {
    width: 20px;
}
.slider.slider-two:after {
    width: 40px;
}
.slider.slider-three:after {
    width: 60px;
}
.slider.slider-four:after {
    width: 80px;
}


.slider.slider-one:before {
    content: "1";
}
.slider.slider-two:before {
    content: "2";
}
.slider.slider-three:before {
    content: "3";
}
.slider.slider-four:before {
    content: "4";
}

.slider-left:before {
    color: #2B61D8;
    right: 250%;
}

.slider-left:after {
    background: #2B61D8;
    left: 100%;
}

.slider-left {
    left: -38px;
}

.slider-right:before {
    color: #FF4019;
    left: 250%;
}

.slider-right:after {
    background: #FF4019;
    right: 100%;
}

.slider-right {
    right: -38px;
}

.control-panel {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    font-weight: 700;
    display: flex;
    justify-content: space-around;
    min-width: 60%;
    margin: 0 auto;
    padding-bottom: 30px;
}

.button {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    width: 250px;
    text-decoration: none;
    font-size: 2.75em;
    letter-spacing: 5px;
    line-height: 0.75em;
    font-weight: 700;
    color: #21427c;
    border: 2px solid #21427c;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
}

.button:hover {
    background-color: #21427c;
    color: #ffffff;
}

.button:active {
    transform: scale(1.05);
}

.colors {
    display: flex;
    align-items: center;
}
.color {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    margin-left: 10px;
    margin-right: 10px;
    /* box-shadow: 3px 5px 10px 0px #dcd0d0; */
    cursor: pointer;
    transition: transform 0.3s ease-in-out 0s;
}
.color:hover{
    transform: scale(1.1);
}

.red {
    background-color: red;
}

.yellow {
    background-color: yellow;
}

.blue {
    background-color: blue;
}

.green {
    background-color: green;
}

.gray {
    background-color: gray;
}

.purple {
    background-color: purple;
}

.black {
    background-color: black;
}

.orange {
    background-color: orange;
}
